body {
  background-color: #080808;
}

.text-transparent {
  color: transparent;
}

.stroke-2 {
  -webkit-text-stroke-width: 2px;
  text-stroke-width: 2px;
}

.stroke-gray-700 {
  -webkit-text-stroke-color: #474e5a;
  text-stroke-color: #474e5a;
}

.hover\:no-stroke:hover {
  -webkit-text-stroke-width: 0;
  text-stroke-width: 0;
}

/* Scroll Animation */
.scroll-icon {
  -webkit-animation: action 1s infinite alternate;
  animation: action 1s infinite alternate;
}

@-webkit-keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
