body {
  background-color: #080808;
}

/* Outline Word */
.outlined-letter {
  color: #000;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.outlined-letter-contact {
  color: #000;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.outlined-letter:hover {
  text-shadow: -1px -1px 0 #aaeec3, 1px -1px 0 #aaeec3, -1px 1px 0 #aaeec3,
    1px 1px 0 #aaeec3;
}

/* Scroll Animation */
.scroll-icon {
  -webkit-animation: action 1s infinite alternate;
  animation: action 1s infinite alternate;
}

@-webkit-keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
